body{
    background-color: black;
}

.font1{
font-family: Arial, Helvetica, sans-serif;
color:white;
margin-left: 2%;

}

.font2{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 70%; 
margin-left: 1%;
}

.font3{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 1%;
    margin-top: 5%;
    transition: font-size 0.3s ease;     
}



.link{   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    white-space: nowrap;
    display: inline-block;
}


