body{
    background-color: black;
}

.font1{
font-family: Arial, Helvetica, sans-serif;
color:white;
margin-left: 2%;
}

.font2{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 70%; 
margin-left: 1%;
}

.font3{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 1%;
    margin-top: 5%;
    transition: font-size 0.3s ease;     
}

.inputbar{
    margin-left: 2%;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #2b2b2b;
    color: white;
    border:5px;
    border-color: white;
    padding: 5px;
    font-size: 16px;
}